<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>{% block title %}Guess What{% endblock title %}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
  {% load i18n %}
  {% block body %}
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'home' %}">Guess What</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li><a href="{% url 'game' %}">{% trans 'New Game' %}</a></li>
            <li><a href="{% url 'answer_list' %}">{% trans 'List of Answers' %}</a></li>  
          </ul>
          {% if user.is_authenticated %}
          {% csrf_token %}
            <ul class="nav navbar-nav">
              <li><a href="{% url 'admin:index' %}">{% trans 'Admin' %}</a></li>
            </ul>
          {% endif %}
                      
          <form class="navbar-right navbar-form" method="post" action="{% url 'logout' %}">
            {% if user.is_authenticated %}
            {% csrf_token %}
              <input type="hidden" name="next" value="{% url 'home' %}">
              <button class="btn btn-default" type="submit">{% trans 'Logout' %}</button>
            {% else %}
              <a class="btn btn-default" href="{% url 'login' %}">{% trans 'Login' %}</a>
            {% endif %}
          </form>

          <form class="navbar-right navbar-form" action="{% url 'set_language' %}" method="post">{% csrf_token %}
          <!--<input name="next" type="hidden" value="{{ redirect_to }}" />-->
          <select name="language">
              {% get_current_language as LANGUAGE_CODE %}
              {% get_available_languages as LANGUAGES %}
              {% get_language_info_list for LANGUAGES as languages %}
              {% for language in languages %}
                  <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                      {{ language.name_local }} 
                  </option>
              {% endfor %}
          </select>
          <input type="submit" value="Go" />
          </form>

            <!--{% get_language_info_list for LANGUAGES as languages %}
            {% get_current_language as LANGUAGE_CODE %}
            {% get_language_info for LANGUAGE_CODE as current_language %}
            <ul class="navbar-right dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ current_language.name_local }} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for language in languages %}
                  <li {% if language.code == LANGUAGE_CODE %}class="active"{% endif %}>
                  {% language language.code %}
                  <a href="{{ language.code }}">
                    {{ language.name_local }}
                  </a>
                  {% endlanguage %}
                  </li>
                {% endfor %}
              </ul>
            </ul>-->

        </div>
      </div>
    </nav>
  {% endblock body %}
  </body>
</html>
