{% extends 'pages/base.html' %}

{% block body %}
{{ block.super }}
<div class="container">
  <h1>Guess What</h1>
  <hr>
  <h3>
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    電腦會隨機從200個詞裡面選出一個作為答案
    <br><br>
    
    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
    你可以不斷問問題，從對話中猜猜看答案是什麼
    <br><br>
    
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    問題最好是「它/他/她/牠...嗎」的形式，否則可能會有意想不到的結果
    <br><br>
    
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    如果覺得太難猜了，也有三個提示可以提供一些線索
    <br><br>
    
    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    要猜答案時除了可以問「它是<答案>嗎」，也可以直接輸入「<答案>」
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;例如：「它是飛機嗎」或是「飛機」
    <br><br>
  </h3>
</div>
{% endblock body %}
