{% extends 'pages/base.html' %}
{% load i18n %}

{% block body %}
{{ block.super }}
<div class="container">
  <h1>Guess What</h1>
  <hr>
  <h3>
    
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    {% trans The system randomly selects one of 200 words as the answer. %}
    <br><br>
    
    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
    {% trans You can keep asking questions, and try to guess the answer with the dialog as hints. %}
    <br><br>
    
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    {% trans The question sentence must contain 'it/he/she'. %}
    <br><br>
    
    <!--<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    如果覺得太難猜了，也有三個提示可以提供一些線索
    <br><br>-->
    
    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    {% trans 'You can guess the answer by asking a question (e.g. "Is it airplane?").' %}
    <br>

    {% trans 'Or directly type the answer (e.g. "Airplane").' %}
    
    <br><br>
  </h3>
</div>
{% endblock body %}
