{% extends 'game/base.html' %}
{% load i18n %}

{% block title %} {% trans 'List of Answers' %} | {{ block.super }}{% endblock title %}

{% block content %}
<div class="container">
  <a href="{% url 'answer_create' %}" class="btn btn-default">{% trans 'Add an answer' %}</a>
  <hr>
  {% for answer in answers %}
    <div class="answer" style="margin-left: 20px">
      <h2>
        <a href="{{ answer.get_absolute_url }}">
          {{ answer.name }}
          {% if answer.questions.all %}
            <span class="label label-info">{{ answer.questions.all|length }}</span>
          {% endif %}
        </a>
      </h2>
    </div>
  {% endfor %}
  <hr>
</div>
{% endblock content %}
