{% extends 'game/base.html' %}

{% block title %}{{ answer.name }} | {{ block.super }}{% endblock title %}

{% block content %}
<div class="container">
  <h1 style="margin-left: 20px">{{ answer.name }}</h1>
  <table class="table table-hover" style="margin-left: 20px">
    <thead>
      <tr>
        <th>問題</th>
        <th>結果</th>
      </tr>
    </thead>
    <tbody>
      {% for ques in answer.questions.all %}
        <tr>
          <td>{{ ques.name }}</td>
          <td>{{ ques.result }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
