{% extends 'game/base.html' %}
{% load i18n %}

{% block title %} {% trans 'List of Games' %} | {{ block.super }}{% endblock title %}

{% block content %}
<div class="container">
  <hr>
  <table class='table table-hover'>
    <thead>
    <tr> 
        <th>{% trans 'Game id' %} </th>
        <th>{% trans 'Score' %}</th>
        <th>{% trans 'Answer' %}</th>
    </tr>
  </thead>
    <tbody>
    {% for game in games %}
      <tr>
          
          <td > <a href="{{ game.get_absolute_url }}"> Game - {{game.pk}}  </a> </td>
          <td> 
          {% if game.is_finished %} 
            {{ game.score }}
          {% else %}
            --
          {% endif %}
          </td>
          <td> {{ game.answer.name }} {{ game.answer.name_en }} </td>
          
      </tr>
    {% endfor %}
  </tbody>
  <hr>
</div>
{% endblock content %}
