{% extends 'game/base.html' %}
{% load crispy_forms_tags %}

{% block title %}PLAY! | {{ block.super }}{% endblock title %}

{% block content %}
  <a href="{% url 'game' %}" class="btn btn-default">PLAY!</a>
  <hr>
  <p>{{ answer }}</p>
  <hr>
    
  <form action="{% url 'ask' %}" method="post">
    {% csrf_token %}
    <input type="hidden" id="answer" name="answer" value="{{ answer }}">
    <input type="hidden" id="prev" name="prev" value="{{ prev }}">
    問題：
    <input type="text" id="question" name="question" required="true" autofocus="true">
    <input type="submit" value="送出" class="btn btn-default">
    
    <p>{{ result }}</p>
  </form>
  
  <hr>
  
  <textarea id="history" style="border: none">History</textarea>
  
  <script>
    document.getElementById("history").innerHTML = "{{ prev }}".split("|").join("\n");
  </script>
{% endblock content %}
